span.heart {
  color: #c85308;
}

.main-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/*Media Query*/

@media (min-width: 992px) {
  article.hero h2.hero__title {
    font-size: 50px;
  }
}

@media (min-width: 767px) {
  header.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/*step 6*/
article.views {
  display: flex;
  align-items: center;
}
article.views a:last-child {
  margin-left: auto;
}

a.view-list__item {
  margin-left: 25px;
}

label,
legend {
  font-weight: bold;
}

fieldset label {
  line-height: 32px;
}

/* 11*/
main.site-content {
  display: flex;
  justify-content: center;
}
.main-article {
  max-width: 50em;
}
.main-article p {
  line-height: 1.7rem;
}


 